body {
  background-color: #ffffff;
}
.container {
  display: flex;
  justify-content: center;
}
.navmenu {
  padding: 10px;
  border: 1px solid black;
}
.first-text {
  padding: 10px;
  border: 1px solid black;
}
.first-img {
  padding: 10px;
  border: 1px solid black;
  align-items: start;
}
.about {
  background-color: #f6f6f6;
  padding: 10px;
  border: 1px solid black;
}
.skills {
  padding: 10px;
  border: 1px solid black;
}
.portfolio {
  padding: 10px;
  border: 1px solid black;
}
.contacts {
  padding: 10px;
  border: 1px solid black;
}
